body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}
h1 {
  padding: 10px;
  margin: 0;
}
h3 {
  margin: 0;
  text-align: center;
}
hr {
  margin: 0;
  border: 1px solid #BBBBBB
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul {
  margin: 5px;
}
li {
  line-height: 25px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("texture/1920Ñ…1080_1.jpg");
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main_box {
  max-width: 950px;
  height: 1400px;
  margin: 30px auto;
  background-color: #F0F0F0;
  -webkit-box-shadow: -1px 0px 18px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 18px 1px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 18px 1px rgba(0,0,0,0.75);
  border-radius: 5px;
}
.header {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-family: 'Montserrat', sans-serif;
}
.container__content {
  height: 300px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  background-color: #d9d9d9;
  transition: 0.2s;
}
.container__content:hover {
  transform: translate(2px, 2px);
  background-color: rgba(223, 223, 223, 1);
  -webkit-box-shadow: 5px 6px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 6px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 6px 11px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
}
.content_img {
  height: 100%;
  margin-right: 10px;
}
.content_img img {
  height: 100%;
  border: 1px solid #b3b3b3;
}
.content_img:hover {
  color: white;
}
.content_description {
  position: relative;
  width: 300px;
}
.svg {
  position: absolute;
  top: 40px;
  right: 0;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
.container__content:hover .svg {
  fill: #009987;
  transform: scale(1.2);

}
.svg:hover {
  fill: #00ccb4 !important;
}
